{% extends "base.html" %}
{% block links %}
<table width="100%">
    <tr>
        <td width="33%" align="left">
            <a href="{% url 'about:about_page' %}">Все анкеты</a>
        </td>
        <td width="33%" align="center">
            <a href="{% url 'about:about_id_page' %}">Личный кабинет</a>
        </td>
        <td width="34%" align="right">
            <form method="get" name="exit" action="{% url 'home:home' as var %}">
                {% csrf_token %}
                <button value="Выйти" name="logout_button">Выйти</button>
            </form>
        </td>
    </tr>
</table>
{% endblock %}